.tool-bar .button {
    -fx-font-size: 14pt;
    -fx-content-display: center;
    -fx-text-alignment: center;
}

.sequencePanel .label {
    -fx-font-size: 14pt;
}

.sequencePanel .radio-button {
    -fx-font-size: 14pt;
}

.sequencePanel .label.header {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

.weightMatrixPanel .accordion {
    -fx-background-color: #e9e9e9;
}