.text-field:disabled {
    -fx-background-color: #ffc16f;
    -fx-text-fill: red;
    -fx-opacity: 1;
}

.chart-series-line {
    -fx-stroke-width: 2px;
}

.chart-line-symbol {
    -fx-background-color: #fc8b29;
    -fx-background-radius: 5px;
    -fx-background-insets: 5px;
}

#line-number-pane
{
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-font: 12px "Courier New";
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
}

#line-number-pane .scroll-pane {
    -fx-hbar-policy : always;
    -fx-vbar-policy : always;
}